@model Capstone.Web.Models.TeamAllocation.TeamAssignmentPotentialViewModel
<tr>
    @Html.HiddenFor(model => model.RoleID)
    @Html.HiddenFor(model => model.EmployeeID)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.IsUnsaved)
    @Html.HiddenFor(model => model.PositionTitle)
    @Html.HiddenFor(model => model.RoleTitle)
    @Html.HiddenFor(model => model.UserID)
    <td class="fontawesomebuttonstyling"><button id="potentialAddButton" name="potentialAddButton" value="@Model.EmployeeID"><i class="fas fa-plus-circle"></i></button></td>
    <td>
        @Html.DisplayFor(model => model.FullName)
    </td>
    <td>
        @Html.DisplayFor(model => model.PositionTitle)
    </td>
    <td>
        @Html.DisplayFor(model => model.RoleTitle)
    </td>
    <td>
        @Html.DisplayFor(model => model.UserID)
    </td>
    <td>
        @Html.DisplayFor(model => model.TeamName)
    </td>

</tr>