
@model Capstone.Web.Models.PaidHoliday.PaidHolidayViewModelEdit

@{
    ViewBag.Title = "Paid Holidays";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Deactivate Paid Holiday</h4>
    <hr />

    <div class="titlebox">
        Deactivating @Model.HolidayName
    </div>

    <p>Are you sure you want to delete @Model.HolidayName?</p>

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.HolidayName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 removefloat">
                @Html.EditorFor(model => model.HolidayName, new { htmlAttributes = new { @class = "form-control", disabled = true } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HolidayDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 removefloat">
                @Html.EditorFor(model => model.HolidayDate, new { htmlAttributes = new { @class = "form-control", disabled = true } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 removefloat">
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control", disabled = true } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActivationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 removefloat">
                @Html.EditorFor(model => model.ActivationDate, new { htmlAttributes = new { @class = "form-control", disabled = true } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeactivationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 removefloat">
                @Html.EditorFor(model => model.DeactivationDate, new { htmlAttributes = new { @class = "form-control", disabled = true } })
            </div>
        </div>
    </div>



    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    <div class="form-group buttonrow">
        <div>
            <a href="~/PaidHolidayView/Index" class="btn btn-default cancelButton">Cancel</a>
        </div>
        <div>
            <input type="submit" value="Deactivate" class="btn btn-default" onclick="return confirm('Are you sure you wish to deactivate @Html.DisplayFor(model => model.HolidayName)?')" />
        </div>
    </div>

    }
</div>
