@model IEnumerable<Capstone.Web.Models.Project.ProjectViewModel>

@{
    ViewBag.Title = "All Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Projects</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectedEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeactivationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        @Html.HiddenFor(modelItem => item.ProjectCategoryID)
        <td>
            @Html.DisplayFor(modelItem => item.ProjectCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectedEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeactivationDate)
        </td>
        <td>
            <div class="viewbutton">
                @Html.ActionLink("Go To Allocation", "ProjectIndex", new { projectID = item.ProjectID })
            </div>
        </td>
    </tr>
    }

</table>
