@model IEnumerable<Capstone.Web.Models.ProjectCategoryViewModel>

@{
    ViewBag.Title = "All Project Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>All Project Categories</h2>

<p class="actionlinkbutton">
    @Html.ActionLink("Create New", "Create")
</p>

<p class="alert-info">@TempData["message"]</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeactivationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Global)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeactivationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Global)
        </td>

        <td class="buttoncolumn">
            <div class="custombuttons">
                @Html.ActionLink("Edit", "Edit", new { projectCategoryID = item.ProjectCategoryID })
            </div>
            <div class="custombuttons">
                @Html.ActionLink("Deactivate", "Deactivate", new { projectCategoryID = item.ProjectCategoryID })
            </div>
            <div class="custombuttons">
                @Html.ActionLink("Details", "Details", new { projectCategoryID = item.ProjectCategoryID })
            </div>
        </td>
    </tr>
    }

</table>

@*TODO: select TD for color, change bgColor to the content value.*@
