@model IEnumerable<Capstone.Web.Models.Position.PositionViewModel>

@{
    ViewBag.Title = "All Positions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>All Positions</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p class="alert-info">@TempData["message"]</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PositionTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeactivationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PositionTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivationDate)
        </td>
        <td>
            @(item.DeactivationDate.HasValue ? Html.DisplayFor(modelItem => item.DeactivationDate).ToString() : "Currently Active")
            @*@Html.DisplayFor(modelItem => item.DeactivationDate)*@
        </td>
        <td class="buttoncolumn">
            <div class="custombuttons">
                @Html.ActionLink("Edit", "Edit", new { id = item.PositionID })
            </div>
            <div class="custombuttons">
                @Html.ActionLink("Deactivate", "Deactivate", new { id = item.PositionID })
            </div>
            <div class="custombuttons">
                @Html.ActionLink("Details", "Details", new { id = item.PositionID })
            </div>
        </td>
    </tr>
    }

</table>
