@model IEnumerable<Capstone.Web.Models.Project.ProjectViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectCategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectedEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeactivationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectCategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectedEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeactivationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProjectID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProjectID })
        </td>
    </tr>
    }

</table>
