@model Capstone.Web.Models.Project.ProjectViewModel

@{
    ViewBag.Title = "Project";
}

<h2>Deactivate Project</h2>


<div>
    <hr />

    <div class="titlebox">
        Deactivating @Model.ProjectName
    </div>

    <p>Are you sure you want to deactivate @Model.ProjectName?</p>

    <div class="form-horizontal">

        @Html.HiddenFor(model => model.ProjectCategoryID)
        @*<div class="form-group">
                @Html.LabelFor(model => model.ProjectCategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 removefloat">
                    @Html.EditorFor(model => model.ProjectCategoryID, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.ProjectCategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 removefloat">
                    @Html.EditorFor(model => model.ProjectCategoryName, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectCategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 removefloat">
                @Html.DropDownList("ProjectCategoryID", null, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(model => model.ProjectCategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 removefloat">
                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control", disabled = true } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 removefloat">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", disabled = true } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 removefloat">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", disabled = true } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectedEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 removefloat">
                @Html.EditorFor(model => model.ProjectedEndDate, new { htmlAttributes = new { @class = "form-control", disabled = true } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActivationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 removefloat">
                @Html.EditorFor(model => model.ActivationDate, new { htmlAttributes = new { @class = "form-control", disabled = true } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeactivationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 removefloat">
                @Html.EditorFor(model => model.DeactivationDate, new { htmlAttributes = new { @class = "form-control", disabled = true } })
            </div>
        </div>

    </div>

    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()

    <div class="form-actions buttonrow">
        <div>
            <a href="~/ProjectView/Index" class="btn btn-default cancelButton">Cancel</a>
        </div>
        <div>
            <input type="submit" value="Deactivate" class="btn btn-default deletebutton" />
        </div>
    </div>
    }
</div>
